<button class="btn btn-default pull-right" style="margin-top: 20px" ng-show="currentUser.isAdmin()" ng-click="showCompetitionCreationModal()">
    <span class="glyphicon glyphicon-plus"></span>
    <span>Add</span>
</button>
<h1>Competitions</h1>
<div class="col-md-4">
    <h3>Past</h3>
    <div class="list-group">
        <a href="competition/{{competition.id}}" class="list-group-item" ng-repeat="competition in getPastCompetitions()">
            <h4 class="list-group-item-heading">{{competition.name}}</h4>
            <p class="list-group-item-text">Ended <span am-time-ago="competition.endDate"></span>.</p>
        </a>
    </div>
</div>
<div class="col-md-4">
    <h3>Current</h3>
    <div class="list-group">
        <a href="competition/{{competition.id}}" class="list-group-item" ng-repeat="competition in getCurrentCompetitions()">
            <h4 class="list-group-item-heading">{{competition.name}}</h4>
            <p class="list-group-item-text">Ending <span am-time-ago="competition.endDate"></span>.</p>
        </a>
    </div>
</div>
<div class="col-md-4">
    <h3>Upcoming</h3>
    <div class="list-group">
        <a href="competition/{{competition.id}}" class="list-group-item" ng-repeat="competition in getFutureCompetitions()">
            <h4 class="list-group-item-heading">{{competition.name}}</h4>
            <p class="list-group-item-text">Starting <span am-time-ago="competition.startDate"></span>.</p>
        </a>
    </div>
</div>