<div class="modal-header">
    <h3 class="modal-title">Change Competition Name</h3>
</div>
<div class="modal-body">
    <div class="form-group col-md-12">
        <label for="newCompetitionName">Competition Name</label>
        <input type="text" id="newCompetitionName" class="form-control" ng-model="newCompetitionName" ng-change="clearError()" tabindex="1">
    </div>
    <div class="alert alert-danger" ng-show="errorStatusCode" ng-switch="errorStatusCode">
        <span ng-switch-default>An unknown error occurred.</span>
    </div>
    <div class="clearfix"></div>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button type="button" class="btn btn-primary" ng-click="save()" tabindex="2">Save</button>
        <button type="button" class="btn" ng-click="cancel()" tabindex="3">Cancel</button>
    </div>
</div>