<div>
    <h1><a href="user/{{user.username}}">{{user.name}}</a> in <a href="competition/{{competition.id}}">{{competition.name}}</a></h1>
    <table class="table">
        <thead>
            <tr>
                <th class="text-nowrap">Problem ID</th>
                <th>Points</th>
                <th>Status</th>
                <th class="text-nowrap" style="width: 100%">Failed Attempts</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="problem in problems.data | filter: { enabled: true }">
                <td class="text-nowrap"><a href="competition/{{competition.id}}/problem/{{problem.id}}">{{problem.id}}</a></td>
                <td>{{problem.points}}</td>
                <td class="text-nowrap">{{problem.solved ? 'Solved' : (problem.failedAttempts > 0 ? 'Attempted' : 'Not Attempted')}}</td>
                <td>{{problem.failedAttempts ? problem.failedAttempts : 0}}</td>
            </tr>
        </tbody>
    </table>
</div>