<div class="modal-header">
    <h3 class="modal-title">Create A New Competition</h3>
</div>
<div class="modal-body">
    <div class="form-group col-md-12">
        <label>Name</label>
        <input type="text" class="form-control" ng-model="name" ng-change="clearError()" tabindex="1">
    </div>
    <div class="form-group col-md-8">
        <label for="competitionStartDate">Starting Date</label>
        <p class="input-group">
            <input id="competitionStartDate" class="form-control" type="text" ng-model="startDate" datepicker-popup is-open="startDateOpened" readonly ng-click="startDateOpened = true" close-text="Close" tabindex="2"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="startDateOpened = true"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
    </div>
    <div class="form-group col-md-4">
        <label>Starting Time</label>
        <timepicker ng-model="startDate" show-spinners="false"></timepicker>
    </div>
    <div class="clearfix"></div>
    <div class="form-group col-md-8">
        <label for="competitionEndDate">Ending Date</label>
        <p class="input-group">
            <input id="competitionEndDate" class="form-control" type="text" ng-model="endDate" datepicker-popup is-open="endDateOpened" readonly ng-click="endDateOpened = true" close-text="Close" tabindex="3"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="endDateOpened = true"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
    </div>
    <div class="form-group col-md-4">
        <label>Ending Time</label>
        <timepicker ng-model="endDate" show-spinners="false"></timepicker>
    </div>
    <div class="clearfix"></div>
    <div class="alert alert-danger" ng-show="errorStatusCode" ng-switch="errorStatusCode">
        <span ng-switch-when="END_BEFORE_START">The ending date/time was before the starting date/time</span>
        <span ng-switch-when="400">A field was invalid.</span>
        <span ng-switch-default>An unknown error occurred.</span>
    </div>
    <div class="clearfix"></div>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button type="button" class="btn btn-primary" ng-click="create()" tabindex="4">Create</button>
        <button type="button" class="btn" ng-click="cancel()" tabindex="5">Cancel</button>
    </div>
</div>