<div class="modal-header">
    <h3 class="modal-title">Add User</h3>
</div>
<div class="modal-body">
    <div class="form-group col-md-12">
        <label for="username">Username</label>
        <input type="text" id="username" class="form-control" ng-model="username" ng-change="clearError()" tabindex="1">
    </div>
    <div class="alert alert-danger" ng-show="errorStatusCode" ng-switch="errorStatusCode">
        <span ng-switch-when="404">No user found with name {{username}}.</span>
        <span ng-switch-default>An unknown error occurred.</span>
    </div>
    <div class="clearfix"></div>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button type="button" class="btn btn-primary" ng-click="add()" tabindex="2">Add</button>
        <button type="button" class="btn" ng-click="cancel()" tabindex="3">Cancel</button>
    </div>
</div>