<div>
    <h1>{{problem.id}} in <a href="competition/{{competition.id}}">{{competition.name}}</a></h1>

    <table class="table">
        <tbody>
            <tr>
                <td>Description</td>
                <td style="width: 100%"><pre>{{problem.description}}</pre></td>
            </tr>
            <tr>
                <td>Points</td>
                <td style="width: 100%">{{problem.points}}</td>
            </tr>
        </tbody>
    </table>

    <h3>Users</h3>
    <table class="table">
        <thead>
            <tr>
                <th class="text-nowrap">User</th>
                <th>Status</th>
                <th style="width: 100%">Failed Attempts</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in competition.participatingUsers">
                <td class="text-nowrap"><a href="competition/{{competition.id}}/user/{{user.username}}">{{user.name}}</a></td>
                <td class="text-nowrap">{{userProblems[user.username].solved ? 'Solved' : (userProblems[user.username].failedAttempts > 0 ? 'Attempted' : 'Not Attempted')}}</td>
                <td>{{userProblems[user.username].failedAttempts ? userProblems[user.username].failedAttempts : 0}}</td>
            </tr>
        </tbody>
    </table>
</div>