<div>
    <h1>
        {{competition.name}}
        <a class="faded" href="#" ng-click="showChangeNameModal()" ng-show="currentUser.isAdmin()"><span class="glyphicon glyphicon-pencil"></span></a>
    </h1>
    <table class="table">
        <tbody>
            <tr>
                <td class="text-nowrap">{{ competition.startDate.getTime() > currentTime ? 'Starting' : 'Started' }} At</td>
                <td style="width: 100%">
                    <span>{{competition.startDate.toLocaleString()}}</span>
                    <span ng-hide="currentUser.isAdmin()">(<span am-time-ago="competition.startDate"></span>)</span>
                    <a class="faded" href="#" ng-click="showChangeDatesModal()" ng-show="currentUser.isAdmin()"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
            <tr>
                <td class="text-nowrap">{{ competition.endDate.getTime() > currentTime ? 'Ending' : 'Ended' }} At</td>
                <td style="width: 100%">
                    <span>{{competition.endDate.toLocaleString()}}</span>
                    <span ng-hide="currentUser.isAdmin()">(<span am-time-ago="competition.endDate"></span>)</span>
                    <a class="faded" href="#" ng-click="showChangeDatesModal()" ng-show="currentUser.isAdmin()"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Users</h3>
    <table class="table" ng-hide="currentUser.isAdmin()">
        <thead>
            <tr>
                <th>Name</th>
                <th style="width: 100%">Points</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in competition.participatingUsers | orderBy: ['-points', 'name']">
                <td class="text-nowrap"><a href="competition/{{competition.id}}/user/{{user.username}}">{{user.name}}</a></td>
                <td>{{user.points}}</td>
            </tr>
        </tbody>
    </table>
    <table class="table" ng-show="currentUser.isAdmin()">
        <thead>
            <tr>
                <th>Remove</th>
                <th>Name</th>
                <th style="width: 100%">Points</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in competition.participatingUsers | orderBy: ['-points', 'name']">
                <td class="text-nowrap"><a class="faded" href="#" ng-click="competition.removeUser(user.username)"><span class="glyphicon glyphicon-remove"></span> Remove</a></td>
                <td class="text-nowrap"><a href="competition/{{competition.id}}/user/{{user.username}}">{{user.name}}</a></td>
                <td>{{user.points}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"><a class="faded" href="#" ng-click="showAddUserModal()"><span class="glyphicon glyphicon-plus"></span> Add</a></td>
            </tr>
        </tfoot>
    </table>

    <h3>Problems</h3>
    <table class="table" ng-hide="currentUser.isAdmin()">
        <thead>
            <tr>
                <th>ID</th>
                <th style="width: 100%">Points</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="problem in problems | filter: { enabled: true }">
                <td class="text-nowrap"><a href="competition/{{competition.id}}/problem/{{problem.id}}">{{problem.id}}</a></td>
                <td class="text-nowrap">{{problem.points}}</td>
            </tr>
        </tbody>
    </table>
    <table class="table" ng-show="currentUser.isAdmin()">
        <thead>
            <tr>
                <th>Enabled</th>
                <th>ID</th>
                <th style="width: 100%">Points</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="problem in problems">
                <td><input type="checkbox" ng-model="problem.enabled" ng-change="competition.configureProblem(problem)"></td>
                <td class="text-nowrap"><a href="competition/{{competition.id}}/problem/{{problem.id}}">{{problem.id}}</a></td>
                <td><input type="text" ng-model="problem.points" ng-blur="competition.configureProblem(problem)"/></td>
            </tr>
        </tbody>
    </table>
</div>