<div class="modal-header">
    <h3 class="modal-title">Sign In</h3>
</div>
<div class="modal-body">
    <div class="form-group col-md-12">
        <label for="loginUsername">Username</label>
        <input type="text" id="loginUsername" class="form-control" ng-model="username" ng-change="clearError()" tabindex="1">
    </div>
    <div class="form-group col-md-12">
        <a class="pull-right" href="#" tabindex="5">Forgot password?</a>
        <label for="loginPassword">Password</label>
        <input type="password" id="loginPassword" class="form-control" ng-model="password" ng-change="clearError()" tabindex="2">
    </div>
    <div class="clearfix"></div>
    <div class="alert alert-danger" ng-show="errorStatusCode" ng-switch="errorStatusCode">
        <span ng-switch-when="400">The username or password provided was invalid.</span>
        <span ng-switch-when="401">The provided password was incorrect or there was no user account registered for the provided username.</span>
        <span ng-switch-default>An unknown error occurred.</span>
    </div>
    <div class="clearfix"></div>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button type="button" class="btn btn-primary" ng-click="login()" tabindex="3">Log In</button>
        <button type="button" class="btn" ng-click="cancel()" tabindex="4">Cancel</button>
    </div>
</div>