<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <ol class="nav navbar-nav breadcrumb">
            <li><a href="home">Home</a></li>
            <li ng-repeat="breadcrumb in breadcrumbs">
                <a href="{{breadcrumb.link}}">{{breadcrumb.label}}</a>
            </li>
        </ol>

        <ul class="nav navbar-nav navbar-right" ng-hide="currentUser">
            <li><a href="#" ng-click="showLoginModal()">Sign In</a></li>
            <li class="navbar-text" style="margin-left: 0px; margin-right: 0px; color: #ccc">|</li>
            <li><a href="#" ng-click="showRegistrationModal()">Register</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right" ng-show="currentUser">
            <li><a href="user/{{currentUser.username}}">{{currentUser.name}}</a></li>
            <li class="navbar-text" style="margin-left: 0px; margin-right: 0px; color: #ccc">|</li>
            <li><a href="#" ng-click="logout()">Sign Out</a></li>
        </ul>
    </div>
</nav>