<div class="modal-header">
    <h3 class="modal-title">Register A New User</h3>
</div>
<div class="modal-body">
    <div class="form-group col-md-12">
        <label for="registerUsername">Username</label>
        <input type="text" id="registerUsername" class="form-control" ng-model="username" ng-change="clearError()" tabindex="1">
    </div>
    <div class="form-group col-md-12">
        <label for="registerPassword">Password</label>
        <input type="password" id="registerPassword" class="form-control" ng-model="password" ng-change="clearError()" tabindex="2">
    </div>
    <div class="form-group col-md-12">
        <label for="registerName">Name</label>
        <input type="text" id="registerName" class="form-control" ng-model="name" ng-change="clearError()" tabindex="3">
    </div>
    <div class="form-group col-md-12">
        <label for="registerEmail">Email Address</label>
        <input type="text" id="registerEmail" class="form-control" ng-model="email" ng-change="clearError()" tabindex="4">
    </div>
    <div class="clearfix"></div>
    <div class="alert alert-danger" ng-show="errorStatusCode" ng-switch="errorStatusCode">
        <span ng-switch-when="400">A field was invalid.</span>
        <span ng-switch-when="409">The username or email was already in use.</span>
        <span ng-switch-default>An unknown error occurred.</span>
    </div>
    <div class="clearfix"></div>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button type="button" class="btn btn-primary" ng-click="register()" tabindex="5">Register</button>
        <button type="button" class="btn" ng-click="cancel()" tabindex="6">Cancel</button>
    </div>
</div>