<div class="modal-header">
    <h3 class="modal-title">Change Password</h3>
</div>
<div class="modal-body">
    <div class="form-group col-md-12">
        <label for="currentPassword">Current Password</label>
        <input type="password" id="currentPassword" class="form-control" ng-model="currentPassword" ng-change="clearError()" tabindex="1">
    </div>
    <div class="form-group col-md-12">
        <label for="currentPassword">New Password</label>
        <input type="password" id="newPassword" class="form-control" ng-model="newPassword" ng-change="clearError()" tabindex="2">
    </div>
    <div class="form-group col-md-12">
        <label for="currentPassword">Confirm New Password</label>
        <input type="password" id="confirmNewPassword" class="form-control" ng-model="confirmNewPassword" ng-change="clearError()" tabindex="3">
    </div>
    <div class="clearfix"></div>
    <div class="alert alert-danger" ng-show="errorStatusCode" ng-switch="errorStatusCode">
        <span ng-switch-when="CONFIRM_DOES_NOT_MATCH">The new and confirm passwords do not match.</span>
        <span ng-switch-when="400">The current password was incorrect.</span>
        <span ng-switch-default>An unknown error occurred.</span>
    </div>
    <div class="clearfix"></div>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button type="button" class="btn btn-primary" ng-click="save()" tabindex="4">Save</button>
        <button type="button" class="btn" ng-click="cancel()" tabindex="5">Cancel</button>
    </div>
</div>