<div>
    <h1>
        {{user.name}}
        <a class="faded" href="#" ng-click="showChangeNameModal()" ng-show="user.email"><span class="glyphicon glyphicon-pencil"></span></a>
    </h1>
    <table class="table" ng-show="user.email">
        <tbody>
            <tr>
                <td class="text-nowrap">Password</td>
                <td style="width: 100%">
                    <span>&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;</span>
                    <a class="faded" href="#" ng-click="showChangePasswordModal()"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
            <tr>
                <td class="text-nowrap">Email Address</td>
                <td style="width: 100%">
                    <span>{{user.email}}</span>
                    <a class="faded" href="#" ng-click="showChangeEmailModal()"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
            <tr>
                <td class="text-nowrap">API Key</td>
                <td style="width: 100%">
                    <span>{{user.apiKey}}</span>
                    <a class="faded" href="#" ng-click="user.resetApiKey()"><span class="glyphicon glyphicon-refresh"></span></a>
                </td>
            </tr>
            <tr ng-show="currentUser.isAdmin()">
                <td class="text-nowrap">Roles</td>
                <td style="width: 100%">
                    <div>
                        <input type="checkbox" ng-checked="user.isAdmin()" ng-click="user.toggleRole('ADMIN')"/>
                        <span>Admin</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>Competitions</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
                <th style="width: 100%">Points</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="competition in user.competitions | orderBy: ['-endDate']">
                <td class="text-nowrap"><a href="competition/{{competition.id}}" ng-click="">{{competition.name}}</a></td>
                <td class="text-nowrap">
                    <span>{{competition.startDate.toLocaleString()}} (<span am-time-ago="competition.startDate"></span>)</span>
                </td>
                <td class="text-nowrap">
                    <span>{{competition.endDate.toLocaleString()}} (<span am-time-ago="competition.endDate"></span>)</span>
                </td>
                <td>{{competition.getUser(user.username).points}}</td>
            </tr>
        </tbody>
    </table>
</div>