body {
    margin-top: 50px;
}

.nav.breadcrumb {
    background-color: transparent;
    margin-bottom: 0px;
    padding: 0px;
}

.nav.breadcrumb > li > a {
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
}

.nav.breadcrumb > li + li:before {
     content: "\00BB";
}

.navbar-text.glyphicon {
    margin-left: 0px;
    margin-right: 0px;
}

.list-group-item {
    cursor: pointer;
}

.faded {
    color: #BBB;
}

.faded:hover {
    color: #666;
}





.modal-content {
    z-index: 1050;
}

.modal-content > button.close {
    top: 9px;
    right: 14px;
    font-size: 40px;
}

.row.header .text-right {
    margin-top: 4px;
    margin-right: 10px;
}

.row.header a {
    cursor: pointer;
}

.row.header h1 {
    margin: 0px;
}

.nav-tabs {
    padding-left: 10px;
}

.nav-tabs li, .input-group-btn {
    cursor: pointer;
}

.nav-tab-content {
    margin: 20px;
}

#pcapStorageTable button {
    margin-top: -5px;
    margin-bottom: -5px;
}

#pcapStorageTable .dropdown-menu li {
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    cursor: pointer;
}

#pcapStorageTable .dropdown-menu li:hover {
    background-color: #EEE;
}

#pcapStorageTable .dropdown-menu li .glyphicon {
    margin-right: 5px;
}

.message td {
    text-align: center;
}

.form-horizontal .form-group {
    margin-right: 0px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.file-message {
    cursor: default;
}

.file-message.placeholder {
    color: #888;
}